<div class="container mt-5">
  <h1 class="text-center">สมาชิกในกลุ่มที่ 8</h1>
  <div class="card mb-3 mt-4 center" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="assets/images/Team/tew.JPG" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h5 class="card-title">นายชินธันย์ เรื่อกงิตตธนวัต</h5>
          <p class="card-text">ชื่อเล่น ติว</p>
          <p class="card-text"><small class="text-body-secondary">เลขที่ 3 ระดับชั้น ปวส.1/4</small></p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3 mt-4 center"  style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="assets/images/Team/mix.JPG" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h5 class="card-title">นายธนารักษ์ แสงกล้า          </h5>
          <p class="card-text">ชื่อเล่น มิกส์</p>
          <p class="card-text"><small class="text-body-secondary">เลขที่ 11 ระดับชั้น ปวส.1/4</small></p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3 mt-4 center" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="assets/images/Team/gnhf.JPG" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h5 class="card-title">นายกฤตชัย ไกรโสภา</h5>
          <p class="card-text">ชื่อเล่น กล้า</p>
          <p class="card-text"><small class="text-body-secondary">เลขที่ 6 ระดับชั้น ปวส.1/5</small></p>
        </div>
      </div>
    </div>
  </div>

</div>
