<header>
  <h1>Door Access Control System</h1>
</header>
<div class="container mt-5">
  <div class="text-center">
  <h2>อุปกรณ์ IOT</h2>
  <label>ระบบควบคุมประตู</label>
</div>
  <div class="row mt-5">
    <div class="col-lg-4">
      <img src="assets/images/ESP32.jpg" width="280px" height="270px" alt="">
    </div>
    <div class="col">
      ESP32 คือไมโครคอนโทรลเลอร์ที่มีโปรเซสเซอร์คู่ (dual-core)
      ความเร็ว 240 MHz พร้อม Wi-Fi และ Bluetooth (Classic และ BLE)
      ในตัว มีหน่วยความจำ RAM 520 KB และ Flash 4MB (หรือมากกว่า) มี GPIO, ADC, DAC, UART, SPI, I2C, และอื่น ๆ
      ใช้พลังงานต่ำและสามารถพัฒนาโปรแกรมได้ด้วยเครื่องมือต่าง ๆ เช่น Arduino IDE และ ESP-IDF เหมาะสำหรับโปรเจ็กต์ IoT
      และระบบอัตโนมัติ
    </div>

    <div class="row mt-5">
      <div class="col-lg-4">
        <img src="assets/images/Relay.jpg" width="280px" height="270px" alt="">
      </div>
      <div class="col">
        Relay คืออุปกรณ์สวิตช์ที่ควบคุมการเปิดปิดวงจรไฟฟ้า โดยใช้สัญญาณไฟฟ้าขนาดต่ำในการควบคุมการทำงานของสวิตช์ที่สามารถรับสัญญาณไฟฟ้าขนาดสูงได้

        การทำงาน: เมื่อมีสัญญาณไฟฟ้าขนาดต่ำเข้ามาที่ขดลวดของ Relay จะสร้างสนามแม่เหล็กที่ดึงหรือผลักสวิตช์เพื่อเปิดหรือปิดวงจรหลัก
        การใช้งาน: ใช้ในวงจรที่ต้องการควบคุมอุปกรณ์ที่ใช้ไฟฟ้าขนาดสูงจากวงจรที่มีไฟฟ้าขนาดต่ำ เช่น การควบคุมอุปกรณ์ไฟฟ้าขนาดใหญ่จากวงจรควบคุมที่ใช้ไมโครคอนโทรลเลอร์
      </div>

    <div class="row mt-5">
      <div class="col-lg-4">
        <img src="assets/images/Magnet.jpg" width="280px" height="270px" alt="">
      </div>
      <div class="col">
        ประตูแม่เหล็ก ซึ่งใช้แม่เหล็กในการเปิดหรือปิดประตูแทนการใช้กลไกดั้งเดิม เช่น ลูกบิดหรือฮาร์ดแวร์อื่น ๆ
        ประตูแม่เหล็กมักใช้ในระบบรักษาความปลอดภัยหรือในสถานที่ที่ต้องการความสะดวกในการเปิดปิด เช่น ในที่ทำงานหรือบ้านที่ต้องการความปลอดภัยสูง
      </div>

    <div class="row mt-5">
      <div class="col-lg-4">
        <img src="assets/images/Keypad.jpg" width="280px" height="270px" alt="">
      </div>
      <div class="col">
        Keypad คือแป้นพิมพ์ที่มีปุ่มกดหลายปุ่ม ใช้สำหรับป้อนข้อมูล เช่น รหัสผ่าน หรือคำสั่งต่าง ๆ มักพบในระบบล็อกประตู,
        คีย์บอร์ดโทรศัพท์, และอุปกรณ์อิเล็กทรอนิกส์อื่น ๆ ที่ต้องการการป้อนข้อมูลแบบมีระเบียบ
      </div>

      <div class="row mt-5">
        <div class="col-lg-4">
          <img src="assets/images/LCD.jpg" width="280px" height="270px" alt="">
        </div>
        <div class="col">
          LCD 16x2 คือหน้าจอ LCD (Liquid Crystal Display) ที่มีขนาด 16x2,
          หมายถึงหน้าจอที่มี 16 คอลัมน์และ 2 แถว ใช้ในการแสดงข้อความหรือข้อมูล โดยแต่ละแถวมี 16 ตัวอักษร
        </div>

          <div class="row mt-5">
            <div class="col-lg-4">
              <img src="assets/images/Jumper.jpg" width="280px" height="270px" alt="">
            </div>
            <div class="col">
              สายไฟ Jumper คือสายไฟที่ใช้เชื่อมต่อวงจรอิเล็กทรอนิกส์ในระยะสั้น ๆ โดยทั่วไปจะใช้ในการทดลองหรือพัฒนาบนบอร์ด Breadboard หรือบอร์ดพัฒนา
              เช่น Arduino โดยมีปลายเป็นขั้วที่สามารถเสียบเข้ากับบอร์ดได้อย่างสะดวก
            </div>
</div>
